@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&family=Stint+Ultra+Condensed&display=swap");

// colors
$default-color: #122;
$secondary-color: #233;
$third-color: #666;

$bg-color: #fdfdf7;

$button-bgcolor-default: #677;
$button-bgcolor-hover: #233;

$footer-color: #777;

// fonts
$default-font: "Prompt", sans-serif;
$secondary-font: "Mate SC", serif;
$third-font: "Architects Daughter", cursive;

// media - screen size
$mobile-screen: 600px;
$tablet-screen: 768px;
$desktop-screen: 992px;
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
