@use "config";

.container {
  margin-left: 1rem;
  margin-right: 1rem;
  .title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 110px;
    max-height: 110px;
    div {
      margin: 0;
    }
    h2 {
      margin: 0;
      font-size: 3.5rem;
    }
    img {
      margin: 0;
      object-fit: contain;
      width: 110px;
    }
  }

  .description {
    div {
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 1.5rem;
    }
    ul {
      margin-left: 2rem;
    }
  }

  .links {
    border: 2px solid #122;
    margin-top: 1rem;
    margin-bottom: 0.9rem;
    padding: 1rem;

    a {
      font-size: 1.2rem;
    }
    a:hover {
      text-decoration: underline;
    }
    p {
      font-size: 1.2rem;
    }
  }

  .blogmeta {
    border: 2px solid #122;
    padding: 0.3rem;
    font-size: 0.8rem;
    margin-top: 1rem;
    ul {
      li {
        font-size: 0.8rem;
      }
    }
  }
}

@media only screen and (max-width: config.$tablet-screen) {
  .container {
    .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
      height: 90px;
      max-height: 90px;
      h2 {
        margin: 0;
        font-size: 3rem;
      }
      img {
        margin: 0;
        object-fit: contain;
        height: 90px;
      }
    }

    .links {
      a {
        font-size: 1rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
