@use "config";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .image {
    margin-top: 5rem;
    width: 15%;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 4rem;
    margin-bottom: 8rem;
    h2 {
      margin: 0;
      text-align: right;
      font-size: 6rem;
      font-family: config.$default-font;
    }
    h3 {
      margin: 0;
      text-align: right;
      font-size: 2.5rem;
      font-family: config.$third-font;
    }
    a {
      margin-right: 0;
      margin-top: 1rem;
      background-color: config.$button-bgcolor-default;
      color: white;
      font-weight: 600;
      font-size: 1.5rem;
      font-family: config.$third-font;
      border-radius: 5px;
      width: 12rem;
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
      transition: background-color 0.3s;
      box-shadow: 3px 3px 5px #999;
    }
    a:hover {
      background-color: config.$button-bgcolor-hover;
    }
  }
}
