@use "config";

.container {
  width: 50%;
  display: flex;
  flex-direction: column;

  .frontmatter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.1rem;
    span {
      color: config.$third-color;
      font-size: 1.2rem;
      margin: 0;
    }
  }
  .title {
    font-size: 4rem;
    margin-left: 0;
    font-weight: 500;
  }
  .subtitle {
    margin-left: 0;
    font-size: 1.7rem;
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: 1rem;
  }

  .imgBox {
    width: 100%;
    border-radius: 10px;
    .featuredImg {
      width: 100%;
      border-radius: 10px;
      isolation: isolate;
    }
    span {
      font-size: 0.7rem;
      color: config.$third-color;
      margin: 0;
    }
  }

  .html {
    margin-top: 2rem;
    margin-bottom: 1.5rem;

    h4 {
      font-size: 2rem;
      font-weight: 500;
    }
    p {
      font-size: 1.2rem;
      font-weight: 300;
      strong {
        font-weight: 500;
      }
    }
    ul,
    ol {
      font-weight: 300;
      margin-left: 2rem;
      strong {
        font-weight: 400;
      }
    }
    a {
      color: blue;
    }
  }
}

@media only screen and (max-width: config.$tablet-screen) {
  .container {
    width: 94%;

    .frontmatter {
      display: flex;
      justify-content: space-between;
      width: 100%;
      span {
        color: config.$third-color;
        font-size: 1rem;
        margin: 0;
      }
    }

    .title {
      text-align: left;
      margin-left: 0;
      font-size: 2rem;
    }
    .subtitle {
      text-align: left;
      margin-left: 0;
      font-size: 1.1rem;
    }

    .imgBox {
      .featuredImg {
        border-radius: 5px;
      }
      span {
        font-size: 0.6rem;
      }
    }

    .html {
      margin-top: 1rem;
      margin-bottom: 0.8rem;
      width: 100%;

      h4 {
        font-size: 1.3rem;
        font-weight: 600;
      }
      p {
        font-size: 0.95rem;
      }
      ul,
      ol {
        margin-left: 1rem;
        li {
          font-size: 0.95rem;
        }
      }
    }
  }
}
