@use "config";

.container {
  width: 50%;
  display: flex;
  flex-direction: column;

  .frontmatter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.1rem;
    span {
      color: config.$third-color;
      font-size: 1.2rem;
      margin: 0;
    }
  }
  .title {
    font-size: 4rem;
    margin-left: 0;
  }
  .subtitle {
    margin-left: 0;
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  .featuredImg {
    border-radius: 10px;
    isolation: isolate;
  }

  .html {
    margin-top: 2rem;
    margin-bottom: 1.5rem;

    h4 {
      font-size: 2rem;
    }
    p {
      font-size: 1.3rem;
      font-weight: 300;
    }
    ul,
    ol {
      margin-left: 2rem;
    }
    a {
      color: blue;
    }
  }
}

@media only screen and (max-width: config.$tablet-screen) {
  .container {
    width: 90%;

    .frontmatter {
      display: flex;
      justify-content: space-between;
      width: 100%;
      span {
        color: config.$third-color;
        font-size: 1rem;
        margin: 0;
      }
    }

    .title {
      text-align: left;
      margin-left: 0;
      font-size: 2rem;
    }
    .subtitle {
      text-align: left;
      margin-left: 0;
      font-size: 1.1rem;
    }

    .html {
      margin-top: 1rem;
      margin-bottom: 0.8rem;
      width: 100%;

      h4 {
        font-size: 1.3rem;
        text-decoration: underline;
      }
      p {
        font-size: 1rem;
      }
      ul,
      ol {
        margin-left: 1rem;
      }
    }
  }
}
