@use "config";

.container {
  width: 60%;

  h2 {
    font-size: 4rem;
    span {
      color: config.$secondary-color;
      font-size: 1.5rem;
    }
  }
  h3 {
    font-size: 1.6rem;
  }
  .html {
    margin-top: 2rem;
  }
}
