.container {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
    text-align: right;
  }

  .post {
    display: inline-flex;
    flex-direction: flex-start;
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;

    .thumb {
      width: 20%;
      margin: 0;
      display: block;
      box-sizing: border-box;
      overflow: auto;
      border-radius: 10px;
    }

    .info {
      width: 80%;
      padding-left: 1rem;
      h3 {
        text-align: left;
        font-size: 1.6rem;
      }
      p {
        text-align: left;
        font-size: 1.2rem;
      }
    }
  }
}
