.container {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
    margin-bottom: 0.5rem;
    text-align: right;
  }

  .post {
    display: inline-flex;
    flex-direction: flex-start;
    margin: 0;
    margin-bottom: 1rem;

    .thumb {
      max-height: 100%;
      max-width: 20%;
      margin: 0;
      display: block;
      box-sizing: border-box;
      overflow: auto;
    }

    div {
      margin-left: 1rem;

      h3 {
        font-size: 1.6rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}
