@use "config";

.container {
  width: 80%;
  div {
    margin: 0;
  }
  .postbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    row-gap: 40px;
    column-gap: 40px;
    margin-top: 2rem;
    margin-bottom: 2rem;

    .post {
      background-color: config.$bg-color-2;
      height: 430px;
      border-radius: 8px;
      cursor: pointer;
      transition: box-shadow 0.4s;
      box-shadow: 2px 2px 3px 3px #ddd;
      overflow: hidden;
      margin: 0;

      .thumbbox {
        height: 250px;
        margin: 0;
        box-sizing: border-box;
        background-color: white;
        overflow: clip;
        .thumb {
          height: 250px;
          display: block;
          border-radius: 8px 8px 0 0;
          isolation: isolate;
          transition: transform 0.3s;
          img {
            max-height: 250px;
            max-width: 100%;
            margin: 0 auto;
          }
        }
      }

      .info {
        max-width: 100%;
        height: 180px;
        margin-left: 0.5rem;
        margin-top: 0.3rem;
        .category {
          color: config.$third-color;
          text-align: left;
          font-size: 0.9rem;
        }
        .title {
          text-align: left;
          font-size: 1.8rem;
          display: inline;
        }
        .subtitle {
          font-size: 1.2rem;
          font-weight: 400;
        }
        .date {
          color: #666;
          font-size: 0.8rem;
          margin-right: 1rem;
          text-align: right;
        }
      }
    }

    .post:hover {
      box-shadow: 4px 4px 5px 5px #ddd;

      .thumb {
        transform: scale(1.05);
      }
    }
  }
}

@media only screen and (max-width: config.$tablet-screen) {
  .container {
    width: 95%;

    .postbox {
      margin-top: 1rem;
      margin-bottom: 1rem;

      .post {
        .info {
          margin-top: 0;
          .title {
            font-weight: 600;
          }
          .subtitle {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}
